@import url("https://fonts.googleapis.com/css?family=Graduate|Raleway|Roboto");
*:focus {
  outline: none; }

a {
  text-decoration: none;
  color: white; }

.nav {
  display: none; }

.nav-mobile-display {
  display: flex;
  flex-direction: column;
  float: left; }
  .nav-mobile-display a {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 10px 25px 10px 15px;
    font-family: "Raleway", sans-serif; }
    .nav-mobile-display a:first-child {
      margin-top: 3.5%; }

header {
  position: absolute;
  top: 15px;
  right: 20px; }
  header svg {
    width: 30px;
    height: auto;
    fill: red;
    cursor: pointer; }

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }
  .banner h1 {
    margin: 0;
    font-family: "Graduate", sans-serif;
    font-size: 2.75rem;
    color: white;
    text-shadow: 0.5px 0.5px black; }
    .banner h1:not(:first-child) {
      border-top: 4px solid white;
      font-size: 2rem; }

.home {
  background: url("../images/gotbackground.jpg");
  background-position: 47% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh; }

.playButton {
  text-decoration: none;
  background-color: red;
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 10px 12px;
  margin-top: 2.5%;
  box-shadow: 1px 1px black; }
  .playButton:hover {
    background-color: gold;
    color: white;
    transition: .35s; }

.productsBanner {
  font-family: 'Roboto';
  text-transform: uppercase; }

.strategyBanner {
  margin: 0;
  background-image: url("../images/strategy4.jpg");
  background-position: 5% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh; }

.cardBanner {
  margin: 0;
  background-image: url("../images/cardbackground.jpg");
  background-position: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.kidBanner {
  margin: 0;
  background-image: url("../images/kidbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.productsBanner {
  text-align: center;
  display: block;
  font-size: 1.5rem; }

.gameItem {
  border: 1px solid black;
  padding: 20px 30px; }
  .gameItem .gameContent {
    display: flex;
    flex-direction: row; }
    .gameItem .gameContent img {
      margin-right: 5%;
      margin-bottom: 5%; }
  .gameItem details {
    cursor: pointer; }

.gameInfo h2 {
  font-family: 'Roboto'; }

.about {
  padding: 10% 10%; }

@media (min-width: 568px) {
  .nav {
    display: block; }
    .nav a:not(:last-child) {
      margin-right: 30px; }

  .nav a {
    font-family: "Raleway", sans-serif;
    text-shadow: 0.5px 0.5px black; }
    .nav a:hover {
      border-bottom: .5px solid white;
      padding-bottom: 2.5px; }

  header svg {
    display: none; } }
@media (min-width: 800px) {
  .products {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around; }

  .gameItem {
    box-sizing: border-box;
    width: 49%;
    margin-bottom: 2.5%; } }

/*# sourceMappingURL=app.css.map */
